<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/master}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sabor Gourmet</title>
</head>

<body>
  <div class="row mt-5" layout:fragment="page-content">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cliente</h5>
          <p class="card-text">Ingresar como cliente para reservar.</p>
          <a th:href="@{/reservas}" class="btn btn-primary">Ir</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Administrador</h5>
          <p class="card-text">Ingresar como administrador para gestionar mesas.</p>
          <a th:href="@{/mesas}" class="btn btn-primary">Ir</a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>